src/META-INF/wsdl/localhost_8080/projetMonitoring-war/WsMonitoring.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getListTacheMachine" type="tns:getListTacheMachine"/>

<xs:element name="getListTacheMachineResponse" type="tns:getListTacheMachineResponse"/>

<xs:element name="getMachine" type="tns:getMachine"/>

<xs:element name="getMachineResponse" type="tns:getMachineResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="machine" type="tns:machine"/>

<xs:element name="tache" type="tns:tache"/>

<xs:element name="traitementAlerteMachine" type="tns:traitementAlerteMachine"/>

<xs:element name="traitementAlerteMachineResponse" type="tns:traitementAlerteMachineResponse"/>

<xs:element name="traitementAlerteTache" type="tns:traitementAlerteTache"/>

<xs:element name="traitementAlerteTacheResponse" type="tns:traitementAlerteTacheResponse"/>

<xs:element name="verifiOuCreerMachine" type="tns:verifiOuCreerMachine"/>

<xs:element name="verifiOuCreerMachineResponse" type="tns:verifiOuCreerMachineResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traitementAlerteTache">
<xs:sequence>
<xs:element name="idTache" type="xs:int"/>
<xs:element name="codeErreur" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traitementAlerteTacheResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMachine">
<xs:sequence>
<xs:element name="AdresIP" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMachineResponse">
<xs:sequence>
<xs:element name="return" type="tns:machine" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="machine">
<xs:sequence>
<xs:element name="adresseIP" type="xs:string" minOccurs="0"/>
<xs:element name="idMachine" type="xs:int" minOccurs="0"/>
<xs:element name="nomMachine" type="xs:string" minOccurs="0"/>
<xs:element name="periodeDeCheck" type="xs:string" minOccurs="0"/>
<xs:element name="portEcoute" type="xs:string" minOccurs="0"/>
<xs:element name="statue" type="xs:string" minOccurs="0"/>
<xs:element name="typeOS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListTacheMachine">
<xs:sequence>
<xs:element name="AdresIP" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListTacheMachineResponse">
<xs:sequence>
<xs:element name="return" type="tns:tache" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tache">
<xs:sequence>
<xs:element name="descriptionFichier" type="xs:string" minOccurs="0"/>
<xs:element name="idMachine" type="tns:machine" minOccurs="0"/>
<xs:element name="idTache" type="xs:int" minOccurs="0"/>
<xs:element name="listeAdresse" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="periodeVerrification" type="xs:string" minOccurs="0"/>
<xs:element name="seuilAlerte" type="xs:int" minOccurs="0"/>
<xs:element name="statue" type="xs:string" minOccurs="0"/>
<xs:element name="typeTache" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifiOuCreerMachine">
<xs:sequence>
<xs:element name="AdresIP" type="xs:string" minOccurs="0"/>
<xs:element name="Port" type="xs:string" minOccurs="0"/>
<xs:element name="nonOS" type="xs:string" minOccurs="0"/>
<xs:element name="nomMachine" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifiOuCreerMachineResponse">
<xs:sequence>
<xs:element name="return" type="tns:machine" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traitementAlerteMachine">
<xs:sequence>
<xs:element name="idMachine" type="xs:int"/>
<xs:element name="listTachePB" type="tns:tache" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traitementAlerteMachineResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>