src/META-INF/wsdl/localhost_8080/projetMonitoring-war/WsMonitoring.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="creerMachine" type="tns:creerMachine"/>

<xs:element name="creerMachineResponse" type="tns:creerMachineResponse"/>

<xs:element name="creerTacheSurveilleDD" type="tns:creerTacheSurveilleDD"/>

<xs:element name="creerTacheSurveilleDDResponse" type="tns:creerTacheSurveilleDDResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="machine" type="tns:machine"/>

<xs:element name="surveillerDd" type="tns:surveillerDd"/>

<xs:element name="verifiOuCreerMachine" type="tns:verifiOuCreerMachine"/>

<xs:element name="verifiOuCreerMachineResponse" type="tns:verifiOuCreerMachineResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerTacheSurveilleDD">
<xs:sequence>
<xs:element name="adresIpMachine" type="xs:string" minOccurs="0"/>
<xs:element name="periode" type="xs:int"/>
<xs:element name="seuil" type="xs:int"/>
<xs:element name="lettre_partition" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerTacheSurveilleDDResponse">
<xs:sequence>
<xs:element name="return" type="tns:surveillerDd" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="surveillerDd">
<xs:sequence>
<xs:element name="idMachine" type="tns:machine" minOccurs="0"/>
<xs:element name="periodeVerrification" type="xs:int" minOccurs="0"/>
<xs:element name="seuilPourAlerte" type="xs:int" minOccurs="0"/>
<xs:element name="statue" type="xs:string" minOccurs="0"/>
<xs:element name="surveillerDdPK" type="tns:surveillerDdPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="machine">
<xs:sequence>
<xs:element name="adresseIP" type="xs:string" minOccurs="0"/>
<xs:element name="idMachine" type="xs:int" minOccurs="0"/>
<xs:element name="nomMachine" type="xs:string" minOccurs="0"/>
<xs:element name="periodeDeCheck" type="xs:int" minOccurs="0"/>
<xs:element name="portEcoute" type="xs:string" minOccurs="0"/>
<xs:element name="typeOS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="surveillerDdPK">
<xs:sequence>
<xs:element name="idTache" type="xs:int"/>
<xs:element name="lettrePartition" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifiOuCreerMachine">
<xs:sequence>
<xs:element name="AdresIP" type="xs:string" minOccurs="0"/>
<xs:element name="Port" type="xs:string" minOccurs="0"/>
<xs:element name="nonOS" type="xs:string" minOccurs="0"/>
<xs:element name="nomMachine" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifiOuCreerMachineResponse">
<xs:sequence>
<xs:element name="return" type="tns:machine" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerMachine">
<xs:sequence>
<xs:element name="AdresIP" type="xs:string" minOccurs="0"/>
<xs:element name="Port" type="xs:string" minOccurs="0"/>
<xs:element name="nonOS" type="xs:string" minOccurs="0"/>
<xs:element name="nomMachine" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creerMachineResponse">
<xs:sequence>
<xs:element name="return" type="tns:machine" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>