src/META-INF/wsdl/localhost_8080/projetMonitoring-war/WsMonitoring.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WsMonitoring">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/projetMonitoring-war/WsMonitoring?xsd=1"/>
</xsd:schema>
</types>
<message name="getListTacheMachine">
<part name="parameters" element="tns:getListTacheMachine"/>
</message>
<message name="getListTacheMachineResponse">
<part name="parameters" element="tns:getListTacheMachineResponse"/>
</message>
<message name="traitementAlerteMachine">
<part name="parameters" element="tns:traitementAlerteMachine"/>
</message>
<message name="traitementAlerteMachineResponse">
<part name="parameters" element="tns:traitementAlerteMachineResponse"/>
</message>
<message name="getTache">
<part name="parameters" element="tns:getTache"/>
</message>
<message name="getTacheResponse">
<part name="parameters" element="tns:getTacheResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="problemeTacheResolu">
<part name="parameters" element="tns:problemeTacheResolu"/>
</message>
<message name="problemeTacheResoluResponse">
<part name="parameters" element="tns:problemeTacheResoluResponse"/>
</message>
<message name="traitementAlerteTache">
<part name="parameters" element="tns:traitementAlerteTache"/>
</message>
<message name="traitementAlerteTacheResponse">
<part name="parameters" element="tns:traitementAlerteTacheResponse"/>
</message>
<message name="creerOuVerifiMachine">
<part name="parameters" element="tns:creerOuVerifiMachine"/>
</message>
<message name="creerOuVerifiMachineResponse">
<part name="parameters" element="tns:creerOuVerifiMachineResponse"/>
</message>
<message name="verifiNomTacheSurMachine">
<part name="parameters" element="tns:verifiNomTacheSurMachine"/>
</message>
<message name="verifiNomTacheSurMachineResponse">
<part name="parameters" element="tns:verifiNomTacheSurMachineResponse"/>
</message>
<message name="getMachine">
<part name="parameters" element="tns:getMachine"/>
</message>
<message name="getMachineResponse">
<part name="parameters" element="tns:getMachineResponse"/>
</message>
<portType name="WsMonitoring">
<operation name="getListTacheMachine">
<input wsam:Action="http://ws/WsMonitoring/getListTacheMachineRequest" message="tns:getListTacheMachine"/>
<output wsam:Action="http://ws/WsMonitoring/getListTacheMachineResponse" message="tns:getListTacheMachineResponse"/>
</operation>
<operation name="traitementAlerteMachine">
<input wsam:Action="http://ws/WsMonitoring/traitementAlerteMachineRequest" message="tns:traitementAlerteMachine"/>
<output wsam:Action="http://ws/WsMonitoring/traitementAlerteMachineResponse" message="tns:traitementAlerteMachineResponse"/>
</operation>
<operation name="getTache">
<input wsam:Action="http://ws/WsMonitoring/getTacheRequest" message="tns:getTache"/>
<output wsam:Action="http://ws/WsMonitoring/getTacheResponse" message="tns:getTacheResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/WsMonitoring/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/WsMonitoring/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="problemeTacheResolu">
<input wsam:Action="http://ws/WsMonitoring/problemeTacheResoluRequest" message="tns:problemeTacheResolu"/>
<output wsam:Action="http://ws/WsMonitoring/problemeTacheResoluResponse" message="tns:problemeTacheResoluResponse"/>
</operation>
<operation name="traitementAlerteTache">
<input wsam:Action="http://ws/WsMonitoring/traitementAlerteTacheRequest" message="tns:traitementAlerteTache"/>
<output wsam:Action="http://ws/WsMonitoring/traitementAlerteTacheResponse" message="tns:traitementAlerteTacheResponse"/>
</operation>
<operation name="creerOuVerifiMachine">
<input wsam:Action="http://ws/WsMonitoring/creerOuVerifiMachineRequest" message="tns:creerOuVerifiMachine"/>
<output wsam:Action="http://ws/WsMonitoring/creerOuVerifiMachineResponse" message="tns:creerOuVerifiMachineResponse"/>
</operation>
<operation name="verifiNomTacheSurMachine">
<input wsam:Action="http://ws/WsMonitoring/verifiNomTacheSurMachineRequest" message="tns:verifiNomTacheSurMachine"/>
<output wsam:Action="http://ws/WsMonitoring/verifiNomTacheSurMachineResponse" message="tns:verifiNomTacheSurMachineResponse"/>
</operation>
<operation name="getMachine">
<input wsam:Action="http://ws/WsMonitoring/getMachineRequest" message="tns:getMachine"/>
<output wsam:Action="http://ws/WsMonitoring/getMachineResponse" message="tns:getMachineResponse"/>
</operation>
</portType>
<binding name="WsMonitoringPortBinding" type="tns:WsMonitoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getListTacheMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traitementAlerteMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTache">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="problemeTacheResolu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traitementAlerteTache">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creerOuVerifiMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verifiNomTacheSurMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsMonitoring">
<port name="WsMonitoringPort" binding="tns:WsMonitoringPortBinding">
<soap:address location="http://localhost:8080/projetMonitoring-war/WsMonitoring"/>
</port>
</service>
</definitions>