src/META-INF/wsdl/localhost_8080/projetMonitoring-war/WsMonitoring.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WsMonitoring">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/projetMonitoring-war/WsMonitoring?xsd=1"/>
</xsd:schema>
</types>
<message name="getMachine">
<part name="parameters" element="tns:getMachine"/>
</message>
<message name="getMachineResponse">
<part name="parameters" element="tns:getMachineResponse"/>
</message>
<message name="getListTacheMachine">
<part name="parameters" element="tns:getListTacheMachine"/>
</message>
<message name="getListTacheMachineResponse">
<part name="parameters" element="tns:getListTacheMachineResponse"/>
</message>
<message name="verifiOuCreerMachine">
<part name="parameters" element="tns:verifiOuCreerMachine"/>
</message>
<message name="verifiOuCreerMachineResponse">
<part name="parameters" element="tns:verifiOuCreerMachineResponse"/>
</message>
<message name="traitementAlerte">
<part name="parameters" element="tns:traitementAlerte"/>
</message>
<message name="traitementAlerteResponse">
<part name="parameters" element="tns:traitementAlerteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WsMonitoring">
<operation name="getMachine">
<input wsam:Action="http://ws/WsMonitoring/getMachineRequest" message="tns:getMachine"/>
<output wsam:Action="http://ws/WsMonitoring/getMachineResponse" message="tns:getMachineResponse"/>
</operation>
<operation name="getListTacheMachine">
<input wsam:Action="http://ws/WsMonitoring/getListTacheMachineRequest" message="tns:getListTacheMachine"/>
<output wsam:Action="http://ws/WsMonitoring/getListTacheMachineResponse" message="tns:getListTacheMachineResponse"/>
</operation>
<operation name="verifiOuCreerMachine">
<input wsam:Action="http://ws/WsMonitoring/verifiOuCreerMachineRequest" message="tns:verifiOuCreerMachine"/>
<output wsam:Action="http://ws/WsMonitoring/verifiOuCreerMachineResponse" message="tns:verifiOuCreerMachineResponse"/>
</operation>
<operation name="traitementAlerte">
<input wsam:Action="http://ws/WsMonitoring/traitementAlerteRequest" message="tns:traitementAlerte"/>
<output wsam:Action="http://ws/WsMonitoring/traitementAlerteResponse" message="tns:traitementAlerteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/WsMonitoring/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/WsMonitoring/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WsMonitoringPortBinding" type="tns:WsMonitoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListTacheMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verifiOuCreerMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traitementAlerte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsMonitoring">
<port name="WsMonitoringPort" binding="tns:WsMonitoringPortBinding">
<soap:address location="http://localhost:8080/projetMonitoring-war/WsMonitoring"/>
</port>
</service>
</definitions>