src/META-INF/wsdl/localhost_8080/projetMonitoring-war/WsMonitoring.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WsMonitoring">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/projetMonitoring-war/WsMonitoring?xsd=1"/>
</xsd:schema>
</types>
<message name="creerTacheSurveilleDD">
<part name="parameters" element="tns:creerTacheSurveilleDD"/>
</message>
<message name="creerTacheSurveilleDDResponse">
<part name="parameters" element="tns:creerTacheSurveilleDDResponse"/>
</message>
<message name="verifiOuCreerMachine">
<part name="parameters" element="tns:verifiOuCreerMachine"/>
</message>
<message name="verifiOuCreerMachineResponse">
<part name="parameters" element="tns:verifiOuCreerMachineResponse"/>
</message>
<message name="creerMachine">
<part name="parameters" element="tns:creerMachine"/>
</message>
<message name="creerMachineResponse">
<part name="parameters" element="tns:creerMachineResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WsMonitoring">
<operation name="creerTacheSurveilleDD">
<input wsam:Action="http://ws/WsMonitoring/creerTacheSurveilleDDRequest" message="tns:creerTacheSurveilleDD"/>
<output wsam:Action="http://ws/WsMonitoring/creerTacheSurveilleDDResponse" message="tns:creerTacheSurveilleDDResponse"/>
</operation>
<operation name="verifiOuCreerMachine">
<input wsam:Action="http://ws/WsMonitoring/verifiOuCreerMachineRequest" message="tns:verifiOuCreerMachine"/>
<output wsam:Action="http://ws/WsMonitoring/verifiOuCreerMachineResponse" message="tns:verifiOuCreerMachineResponse"/>
</operation>
<operation name="creerMachine">
<input wsam:Action="http://ws/WsMonitoring/creerMachineRequest" message="tns:creerMachine"/>
<output wsam:Action="http://ws/WsMonitoring/creerMachineResponse" message="tns:creerMachineResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/WsMonitoring/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/WsMonitoring/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WsMonitoringPortBinding" type="tns:WsMonitoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="creerTacheSurveilleDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verifiOuCreerMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creerMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsMonitoring">
<port name="WsMonitoringPort" binding="tns:WsMonitoringPortBinding">
<soap:address location="http://localhost:8080/projetMonitoring-war/WsMonitoring"/>
</port>
</service>
</definitions>